<main class="d-flex justify-content-center align-items-center flex-column" style="flex:1 1 0%;gap:1rem 0;">
    <%- include('./includes/flash', { flash }) %>

    <div class="border border-dark rounded p-3 d-flex justify-content-center flex-column" style="gap:1rem 0;">
        <h3 class="text-center m-0">Login</h3>
        <form action="/view/login" method="POST" class="d-flex justify-content-center flex-column" style="gap:1rem 0;">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon-username">
                    <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                    </svg>
                </span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon-username" name="username" id="username" autofocus required>
            </div>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon-password">
                    <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M22 19h-6v-4h-2.68c-1.14 2.42-3.6 4-6.32 4-3.86 0-7-3.14-7-7s3.14-7 7-7c2.72 0 5.17 1.58 6.32 4H24v6h-2v4zm-4-2h2v-4h2v-2H11.94l-.23-.67C11.01 8.34 9.11 7 7 7c-2.76 0-5 2.24-5 5s2.24 5 5 5c2.11 0 4.01-1.34 4.71-3.33l.23-.67H18v4zM7 15c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3zm0-4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z" />
                    </svg>
                </span>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon-password" name="password" id="password" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success" style="width:fit-content;">Login</button>
            </div>
        </form>
    </div>
</main>
