<main class="p-3 d-flex justify-content-center align-items-center flex-column" style="flex:1 1 0%;gap:1rem 0;">
    <%- include('./includes/flash', { flash }) %>

    <div class="container border border-0 rounded p-3 text-center d-flex flex-column" style="width:90%;gap:0.5rem">
        <div class="d-flex justify-content-center" style="gap:0.125rem;">
            <h3 class="fw-bold m-0">
                <%= `${userGame.UserGameBiodatum?.firstname || userGame.username} ${userGame.UserGameBiodatum?.lastname || ''}` %>
            </h3>
            <span class="badge bg-primary rounded-pill" style="width:fit-content;height:fit-content;"><%= userGame.username %></span>
        </div>
        <p class="m-0 fw-bold">Email: <span class="fst-italic fw-normal"><%= userGame.UserGameBiodatum?.email || '-' %></span></p>
        <p class="m-0 fw-bold">Country: <span class="fw-normal"><%= userGame.UserGameBiodatum?.country || '-' %></span></p>
        <p class="m-0 fw-bold">Age: <span class="fw-normal"><%= userGame.UserGameBiodatum?.age || '-' %></span></p>

        <div class="d-flex justify-content-center" style="gap:1rem;">
            <% if (userGame.UserGameBiodatum) { %>
            <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateUserGameBiodataModal" id="updateUserGameBiodataModalButton">Update</button>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteUserGameBiodataModal">Delete</button>
            <% } else { %>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createUserGameBiodataModal" id="createUserGameBiodataModalButton">Create Biodata</button>
            <% } %>
            <a href="/view/user_games" class="btn btn-outline-secondary">Back</a>
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center" style="gap:1rem;">
            <h3 class="fw-bold border border-0 border-bottom border-dark m-0" style="width:fit-content;">Histories</h3>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createUserGameHistoryModal" id="createUserGameHistoryModalButton">Create History</button>
            <div class="d-flex justify-content-center align-items-center flex-wrap" style="gap:1rem;">
                <% for (history of userGame.UserGameHistories) { %>
                <div class="border rounded text-center d-flex flex-column p-4" style="gap:1rem;">
                    <p class="m-0"><%= history.title %></p>
                    <p class="text-muted m-0"><%= history.publisher %></p>
                    <%
                        const lastPlayed = history.lastPlayed;
                        const day = lastPlayed.getDate();
                        const month = lastPlayed.getMonth() + 1;
                        const year = lastPlayed.getFullYear();
                        const hours = lastPlayed.getHours();
                        const minutes = lastPlayed.getMinutes();
                        const seconds = lastPlayed.getSeconds();
                        const formattedDate = `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`;
                    %>
                    <p class="m-0 fw-bold">Last Played: <span class="fw-normal fst-italic"><%= formattedDate %></span></p>
                    <h6 class="fw-bold m-0 fs-3 userGameHistoryScore"><%= history.score %></h6>
                    <div class="d-flex justify-content-center" style="gap:1rem;">
                        <button type="button" class="btn btn-outline-warning updateUserGameHistoryModalButton" data-bs-toggle="modal" data-bs-target="#updateUserGameHistoryModal<%= history.id %>" data-usergamehistoryid="<%= history.id %>">Update</button>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteUserGameHistoryModal<%= history.id %>">Delete</button>

                        <% if (userGame.UserGameHistories.length > 0) { %>
                        <%- include('./includes/modals/user-game-history/update.ejs', { userGame, history }) %>
                        <%- include('./includes/modals/user-game-history/delete.ejs', { userGame, history }) %>
                        <%}  %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</main>

<% if (userGame.UserGameBiodatum) { %>
<%- include('./includes/modals/user-game-biodata/update.ejs', { userGame }) %>
<%- include('./includes/modals/user-game-biodata/delete', { userGame }) %>
<% } else { %>
<%- include('./includes/modals/user-game-biodata/create', { userGame }) %>
<% } %>

<%- include('./includes/modals/user-game-history/create', { userGame }) %>
