<div class="modal fade" id="updateUserGameBiodataModal" tabindex="-1" aria-labelledby="updateUserGameBiodataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUserGameBiodataModalLabel">Update <%= userGame.username %>'s User Game Biodata</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/view/user_game/<%= userGame.id %>/biodata?_method=PATCH" method="POST">
                <input type="hidden" name="userGameId" value="<%= userGame.id %>">
                <input type="hidden" name="userGameBiodataId" value="<%= userGame.UserGameBiodatum.id %>">
                <div class="modal-body d-flex flex-column" style="gap:1rem;">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon-email">
                            <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z" />
                            </svg>
                        </span>
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon-email" name="email" id="email" data-oldvalue="<%= userGame.UserGameBiodatum.email %>" value="<%= userGame.UserGameBiodatum.email %>" required>
                    </div>
                    <div class="d-flex" style="gap:1rem;">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon-firstname">
                                <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                </svg>
                            </span>
                            <input type="text" class="form-control" placeholder="Firstname" aria-label="Firstname" aria-describedby="basic-addon-firstname" name="firstname" id="firstname" data-oldvalue="<%= userGame.UserGameBiodatum.firstname %>" value="<%= userGame.UserGameBiodatum.firstname %>" required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon-lastname">
                                <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                </svg>
                            </span>
                            <input type="text" class="form-control" placeholder="Lastname" aria-label="Lastname" aria-describedby="basic-addon-lastname" name="lastname" id="lastname" data-oldvalue="<%= userGame.UserGameBiodatum.lastname %>" value="<%= userGame.UserGameBiodatum.lastname %>" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon-age">
                            <svg enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                <g>
                                    <rect fill="none" height="24" width="24" />
                                </g>
                                <g>
                                    <path d="M20,10V8h-4V4h-2v4h-4V4H8v4H4v2h4v4H4v2h4v4h2v-4h4v4h2v-4h4v-2h-4v-4H20z M14,14h-4v-4h4V14z" />
                                </g>
                            </svg>
                        </span>
                        <input type="number" min="1" class="form-control" placeholder="Age" aria-label="Age" aria-describedby="basic-addon-age" name="age" id="age" data-oldvalue="<%= userGame.UserGameBiodatum.age %>" value="<%= userGame.UserGameBiodatum.age %>" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon-country">
                            <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path d="M12.36 6l.4 2H18v6h-3.36l-.4-2H7V6h5.36M14 4H5v17h2v-7h5.6l.4 2h7V6h-5.6L14 4z" />
                            </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Country" aria-label="Country" aria-describedby="basic-addon-country" name="country" id="country" data-oldvalue="<%= userGame.UserGameBiodatum.country %>" value="<%= userGame.UserGameBiodatum.country %>" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-outline-secondary" id="updateUserGameBiodataModalResetButton">Reset</a>
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
